
<div class="top-navbar">
  <div class="top-menu" >
    <div class="logo">
        <img src="../../../assets/post-it.png" alt="">Notes
    </div>
    <div class="searchbar">
      <ul>
        <li>
          <input type="text" class="searchbar" placeholder="Search Note">
        </li>
        <li>
          <a href="#">
              <img src="../../../assets/loupe.png" alt="">
          </a>
      </li>
      </ul>
    </div>
    <ul>
        <li>
          
            <a href="#">
                <img src="../../../assets/reload.png" alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="../../../assets/user.png" alt="">
            </a>
        </li>
    </ul>
  </div>
  </div>