
<div class="outer-main-container">
  <div class="add-note">
      <div class="card w-75">
          <div class="card-body">
            <h5 class="card-title">
                <input type="text" placeholder="Title" name="title" class="input" required>
              </h5>
            <p class="card-text">
                <input type="text" placeholder="Text" name="text" class="input
                " required>
            </p>
            <a href="#" class="btn btn-primary">Add</a>
          </div>
      </div>
  </div>
</div>