
 <!--<app-side-nav-toggler></app-side-nav-toggler>
 <app-sidenavbar></app-sidenavbar>
 -->
<div class="main" >
 <div class="box1" >
    <app-side-nav-toggler (click) = "toggleMenu()"></app-side-nav-toggler>
 </div>
 <div class="box2">
    <app-navbar></app-navbar>
 </div>
 <div class="box3" >
   <app-sidenavbar [showMenu] = "showMenu"></app-sidenavbar >
 </div>
 <div class="box4" >
     <div class="box5">
      <app-add-note [showMenu] = "showMenu"></app-add-note>
     </div>
     <div class="box6">
      <app-cards [showMenu] = "showMenu"></app-cards>
     </div>
 </div>

</div>

