
<div class="card-container" [ngClass] = "{'collapse': showMenu}">
    <div class="card card-accent-warning mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body text-warning">
          <h5 class="card-title">Warning card title</h5>
          <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
        </div>
    </div>
    <div class="card card-accent-warning mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body text-warning">
          <h5 class="card-title">Warning card title</h5>
          <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
        </div>
    </div>
    <div class="card card-accent-warning mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body text-warning">
          <h5 class="card-title">Warning card title</h5>
          <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
        </div>
    </div>
    <div class="card card-accent-warning mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body text-warning">
          <h5 class="card-title">Warning card title</h5>
          <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
        </div>
    </div>
    
    <div class="card card-accent-warning mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body text-warning">
          <h5 class="card-title">Warning card title</h5>
          <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
        </div>
    </div>
</div>