<!DOCTYPE html>
<html lang="en">
<head>
    <title>update Password</title>
</head>
<body>
    <form [formGroup]="updatepasswordForm" (ngSubmit)="updatepassword()">
        <div class="updatepass">
            <div class="title">
                Reset password
            </div>
            <div class="form">
                    <p class="font">Enter the new password and click on Reset   Password button to reset your password</p>
                <div class="inputField">
                    <input type="password" placeholder="New Password" id="password" name="password" class="input" required formControlName="password">
                </div>
                <div class="btn">
                    <input type="submit" value="Reset Password" class="btn_sign">
                </div>
            </div>
        </div>
    </form>
</body>
</html>
